* {
    margin: 0;
    padding: 0;
}

.carousel-caption {
    font-size: 1rem;
}

.buscar-categoria {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.card-body {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}

.produto_alta{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.card-body-produto{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}